@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');


@import "tailwindcss";


/* @theme is used to define the projects
** custom design tokens i.e fonts, colors and breakpoints 
*/
@theme {
  --project-bg: #B91372;
  --font-family: "Poppins", sans-serif;
  --font-overpass: "Overpass", sans-serif;
  --font-fraunces: "Fraunces", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-hanken: "Hanken Grotesk", sans-serif;

  --font-inter:  "Inter", sans-serif;
  --font-lexendDeca: "Lexend Deca", sans-serif;

  --font-BigShoulders: "Big Shoulders", sans-serif;


  --color-Paleblue: hsl(225, 100%, 94%);
  --color-Brightblue: hsl(245, 75%, 52%);

  --color-VeryPaleBlue: hsl(225, 100%, 98%);
  --color-desaturatedBlue: hsl(224, 23%, 55%);
  --color-DarkBlue: hsl(223, 47%, 23%);


  --color-rating-orange: hsl(25, 97%, 53%);
  --rating-comp-bg: #141519;

  --color-rating-dark: hsl(216, 12%, 8%) ;
  --color-rating-500: hsl(217, 12%, 63%) ;
  --color-rating-light: hsl(213, 19%, 18%);


  /* Product Preview */
  --color-cream: hsl(30, 38%, 92%);
  --color-Green-light: hsl(158, 36%, 37%);
  --color-Green-dark: hsl(158, 42%, 18%);
  --color-prod-grey: hsl(228, 12%, 48%);

  /* Social Links */
  --color-greenLinks: hsl(75, 94%, 57%);
  --color-WhiteLinks: hsl(0, 0%, 100%);
  --color-Grey-700: hsl(0, 0%, 20%);
  --color-Grey-800: hsl(0, 0%, 12%);
  --color-Grey-900: hsl(0, 0%, 8%);

  /* Result summary */
  --color-Light-red: hsl(0, 100%, 67%);
  --color-red-bg:rgb(255,246,247);
  --color-Orangey-yellow: hsl(39, 100%, 56%);
  --color-orange-bg: rgb(255,250,244);
  --color-Green-teal: hsl(166, 100%, 37%);
  --color-green-bg: rgb(242,253,249);
  --color-Cobalt-blue: hsl(234, 85%, 45%);
  --color-blue-bg: rgb(244,244,254);

  --color-Light-slate-blue: hsl(252, 100%, 67%);
  --color-Light-royal-blue: hsl(241, 81%, 54%);
  --color-Violet-blue: hsla(256, 72%, 46%, 1);
  --color-Persian-blue: hsla(241, 72%, 46%, 0);

  --color-White-resultSum: hsl(0, 0%, 100%);
  --color-Pale-blue: hsl(221, 100%, 96%);
  --color-Light-lavender: hsl(241, 100%, 89%);
  --color-Dark-gray-blue: hsl(224, 30%, 27%);

  /* Stats Preview */
  --color-veryDarkBlue: hsl(233, 47%, 7%);
  --color-desatBlue: hsl(244, 38%, 16%);
  --color-softViolet: hsl(277, 64%, 61%);

  --color-statsWhite: hsl(0, 0%, 100%);
  --color-slightlyWhite: hsla(0, 0%, 100%, 0.75);
  --color-slightlyWhiter: hsla(0, 0%, 100%, 0.6);


  /* Column Preview */

  --color-Gold-500:hsl(31, 77%, 52%);
  --color-Cyan-800: hsl(184, 100%, 22%);
  --color-Green-950: hsl(179, 100%, 13%);

  --color-Transparent-white:hsla(0, 0%, 100%, 0.75);
  --color-Gray-100: hsl(0, 0%, 95%);


  /* Mortgage Calculator */
  --color-LimeMortgageCalc: hsl(61, 70%, 52%);
  --color-RedMortgageCalc: hsl(4, 69%, 50%);
  --color-WhiteMortgageCalc: hsl(0, 0%, 100%);
  --color-SlateMorgageCalc100: hsl(202, 86%, 94%);
  --color-SlateMorgageCalc300: hsl(203, 41%, 72%);
  --color-SlateMorgageCalc500: hsl(200, 26%, 54%);
  --color-SlateMortgageCalc700: hsl(200, 24%, 40%);
  --color-SlateMortgageCalc900: hsl(202, 55%, 16%);

}


/* @layer any classes defined with
** layer would be picked up by tailwind as a true utility class and would automatically 
** work with variants like hover, focus or lg

** It has 3 types base, utilities and component
*/
@layer base{
  /* body{
    background: var(--project-bg);
    font-family: var(--font-family)
  } */

  .cardColor{
    background-color: var(--VeryPaleBlue);
    /* padding: 100px; */
  }
}

.ratingBackground {
  background: var(--rating-comp-bg);
}

.orderBody{
  background-color: var(--Paleblue);
}

.cardbtn{
  @apply bg-amber-500 border border-amber-500 w-20 p-30;
}

.bg-body{
  @apply bg-[#0d1a2d] w-screen h-screen;
}

.rating-numbers {
  @apply text-gray-500 size-16 bg-gray-700 flex items-center justify-center rounded-full p-5 hover:cursor-pointer hover:bg-gray-400 hover:text-white text-lg
}

/* Social Links start */
.links{
  @apply relative w-80 text-left text-white transition-colors duration-300 ease-in-out group-hover:text-black
}

.buttonSpan {
  @apply w-80 h-48 rounded bg-greenLinks absolute bottom-0 left-0 translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 group-hover:ml-0 group-hover:mb-32 group-hover:text-black group-hover:translate-x-0 
}

/* Social Links end */


/* Result Summary */
.summaries{
  @apply mb-5 flex justify-between gap-20 p-4 rounded-xl
}

/* Col preview */
.cards{
  @apply h-120 p-10 
}