@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


/* @theme is used to define the projects
** custom design tokens i.e fonts, colors and breakpoints 
*/
@theme {
  --project-bg: #B91372;
  --font-family: "Poppins", sans-serif;


  --Paleblue: hsl(225, 100%, 94%);
  --Brightblue: hsl(245, 75%, 52%);

  --Very pale blue: hsl(225, 100%, 98%);
  --Desaturated blue: hsl(224, 23%, 55%);
  --Dark blue: hsl(223, 47%, 23%);
}


/* @layer any classes defined with
** layer would be picked up by tailwind as a true utility class and would automatically 
** work with variants like hover, focus or lg

** It has 3 types base, utilities and component
*/
@layer base{
  body{
    background: var(--project-bg);
    font-family: var(--font-family)
  }
}

.orderBody{
  background-color: var(--Paleblue);
}

.cardbtn{
  @apply bg-amber-500 border border-amber-500 w-20 p-30;
}

.bg-body{
  @apply bg-[#0d1a2d] w-screen h-screen;
}